
.todayMenuToggle {
  position: fixed;
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 10px;
  text-align: center;
  background: white;
  left:calc(100vw - 100px);
  top: calc(100vh - 100px);
  transition: all 0.5s ease-in-out;
  overflow: hidden;

  p {
    font-size: 24px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    margin-bottom: 0;
    margin-left: 0.6rem;
  }
  @media(min-width: 600px){
    &:hover{
      width: 120px;
      transform: translateX(-80px);
      p {
        display: inline;
        opacity: 1;
      }
    }
  }
  @media(max-width: 600px) {
    left:calc(100vw - 3rem);
    top: calc(100vh - 5rem);
  }
}

.todayMenuToggleShow{
  position: fixed;
  width: 120px;
  height: 40px;
  padding: 8px;
  border-radius: 10px;
  text-align: center;
  background: #f1e3b8;
  left:calc(100vw - 100px);
  top: calc(100vh - 100px);
  transform: translateX(-80px);
  transition: all 0.3s ease-in-out;

  p {
    font-size: 24px;
    display: inline;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    margin-bottom: 0;
    margin-left: 0.6rem;
  }

  @media(max-width: 600px) {
    transform: translateX(0);
    width: 40px;
    left:calc(100vw - 3rem);
    top: calc(100vh - 5rem);

    p {
      opacity: 0;
    }
  }
}


.todayMenuToggleContainer {
  cursor: pointer;
  width: 120px;
  height: 24px;
  overflow: hidden;
  display: flex;
  align-items: center;
  //justify-content: center;
}

.todayMenuToggleBtn{

  display: inline;

}