.userInfoContainer {
  z-index: 0;
  margin: auto;
  padding-top: 45px;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

.userSummaryContainer {
  width: 100%;
  flex: 1;
}

.mainUserContentContainer {
  width: 100%;
  flex: 2;
}

@media (max-width: 850px) {
  .userInfoContainer {
    flex-direction: column;
  }

  .userSummaryContainer {
    flex: 0;
  }
  .mainUserContentContainer {
    flex: 0;
  }
}