.todayMenuItemContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.todayMenuItemName {
  overflow: hidden;
  cursor: pointer;
}

.todayMenuItemInput {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}