.mainContentContainer {
  background: rgba(255, 255, 255, 0.8);
  min-height: 60vh;
  border-radius: 15px;
  margin: 2rem 0.5rem 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.lineChartArea {
  margin-top: 1rem;
  width: 100%;
}