.summaryCardContainer {
  border-radius: 15px;
  position: fixed;
  width: calc(min(30vw, 300px));
  min-height: 30vh;
  margin: 5rem 0.5rem 0.5rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gaugeTitle {
  font-size: 1.13rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: -0.3rem;
}

.nameTag {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: -1.0rem;
}

.valueGauge {
  width: 100%;
}

@media (max-width: 850px) {
  .summaryCardContainer {
    background: rgba(255, 255, 255, 0.6);
    margin: 3rem 0.5rem 0.5rem;
    position: relative;
    width: auto;
  }
}